@import "tailwindcss";

:root {
  --green-100: #50b2c0;
  --green-200: #255d6a;
  --green-300: #0a313c;

  --purple-100: #8381d9;
  --purple-200: #2a2879;

  --gray-100: #f8f9fc;
  --gray-200: #e6e8f2;
  --gray-300: #d1d6e4;
  --gray-400: #8d95af;
  --gray-500: #303f73;
  --gray-600: #252d4a;
  --gray-700: #181c2a;
  --gray-800: #0e1116;

  --background: var(--gray-800);
  --foreground: var(--gray-100);
  --primary: var(--purple-100);
  --primary-foreground: var(--gray-100);
  --secondary: var(--green-100);
  --secondary-foreground: var(--gray-100);
  --muted: var(--gray-800);
  --muted-foreground: var(--gray-400);
  --accent: var(--green-100);
  --accent-foreground: var(--gray-100);
  --destructive: #f75a68;
  --button: var(--gray-600);
  --button-foreground: var(--gray-200);
  --button-hover: var(--gray-500);
  --input: var(--gray-500);
  --input-hover: var(--green-200);
  --card: var(--gray-700);
  --card-foreground: var(--gray-300);
  --sidebar: var(--gray-800);
  --sidebar-foreground: var(--gray-200);
  --tag: var(--green-300);
  --tag-foreground: var(--green-100);
  --scrollbar: var(--gray-700);
  --scrollbar-thumb: var(--gray-600);
  --gradient-1: #7fd1cc;
  --gradient-2: #9694f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-button: var(--button);
  --color-button-foreground: var(--button-foreground);
  --color-button-hover: var(--button-hover);
  --color-input: var(--input);
  --color-input-hover: var(--input-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-gradient-1: var(--gradient-1);
  --color-gradient-2: var(--gradient-2);
  --color-purple-200: var(--purple-200);
  --color-tag: var(--tag);
  --color-tag-foreground: var(--tag-foreground);
  --color-scrollbar: var(--scrollbar);
  --color-scrollbar-thumb: var(--scrollbar-thumb);

  --font-sans: var(--font-nunito-sans);
}

@utility custom-scrollbar {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 9999px;
  }
}
